<!doctype html>
<html lang="en" style="height: 100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/logo.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/app.css">
  <title>AirSounds</title>
  <!-- https://vuejs.org -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <!-- https://d3js.org/ -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body style="height: 90%;">

<nav id="header" class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand mr-auto" onclick="showInfo()">
    <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top">
    <span class="logo logo-buttons"></span>
  </a>
  <div class="navbar-nav mr-auto">
    <a class="nav-link dropdown-toggle" href="#" id="placesDropdown" role="button" onclick="placesDropdownClick()" aria-expanded="false">
      {{ place }}
    </a>
  </div>
  <div class="navbar-nav mr-auto">
    <a class="nav-link dropdown-toggle" href="#" id="datesDropdown" role="button" onclick="datesDropdownClick()" aria-expanded="false">
      {{day}} {{hour}}
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/airsounds/airsounds.github.io">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</nav>

<div id="index" class="overlay">
  <div class="collapse" id="datesPicker">
    <div class="list-group p-4">
      <div v-for="day in currentPlace.days" href="#" class="list-group-item list-group-item-action flex-column align-items-start container">
        <div class="d-flex w-100 justify-content-between row">
          <div class="col-md-4 col-sm-12">
            <h5>{{ day.text }}</h>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="btn-group" role="group" aria-label="Hours">
              <button v-for="hour in day.hours" type="button" :class="hour.class" :onclick="hour.call">
                  {{ hour.text }}
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-3">
            <button class="btn">
              <i class="fas fa-angle-double-up">TI</i>
              <small>{{day.data.TIText}}</small>
            </button>
          </div>
          <div class="col-md-2 col-3">
            <button class="btn"><i class="fas fa-cloud">CB</i>
              <small>{{day.data.cloudBaseText}}</small>
            </button>
          </div>
          <div class="col-md-2 col-3">
            <button class="btn"><i class="">Measured</i>
              <small>{{day.data.uwyoHour}}</small>
            </button>
          </div>
          <div class="col-md-2 col-3">
            <button v-if="day.data.isTriggered" class="btn">
              <i class="fas fa-burn"></i>
              <small>Triggered!</small>
            </button>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="collapse" id="placePicker">
    <div class="list-group p-4">
      <div v-for="place in places" href="#" class="list-group-item list-group-item-action flex-column align-items-start container" :onclick="place.call">
        <div class="row">
          <div class="col-md-3 col-12">
              <h5>{{ place.text }}</h5>
          </div>
          <div class="col-md-2 col-4">
            <button v-if="place.days[0].data.isTriggered" class="btn">
              <i class="fas fa-burn"></i>
              <small>Triggered!</small>
            </button>
          </div>
          <div class="col-md-2 col-4">
            <button class="btn">
              <i class="fas fa-angle-double-up"></i>
              <small>{{place.days[0].data.TIText}}</small>
            </button>
          </div>
          <div class="col-md-2 col-4">
            <button class="btn">
              <i class="fas fa-cloud"></i>
              <small>{{place.days[0].data.cloudBaseText}}</small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center flex-column justify-content-center" style="height: 100%;">
  <svg id="graph" ></svg>
</div>

<div id="info" class="fullscreen" onclick="hideInfo()">
  <div class="card" style="width: 100%; height:100%">
    <div class="card-body overflow-auto">
      <h4 class="card-title rtl">אודות אייר סאונד</h4>
      <p class="card-text rtl">
        באתר זה מוצגים נתוני בלון וירטואלי ונתוני טמפרטורה שנאספים מאתרים שונים.
      </p>
      <p class="card-text rtl">
        ניתן בתפריט העליון לבחור את אזור התחזית ואת התאריך ושעת התחזית.
        התחזית ליום הקרוב היא ברזולוציה של 3 שעות, וליומיים שאחרי ברזולוציה של 6 שעות, לפי זמינות הנתונים.
      </p>
      <p class="card-text rtl">
        הגרף האדום מתאר את מפל הטמפרטורה היבש.
        הגרף הכחול מתאר את מפל האוויר הרווי.
        קו מלא מתאר תחזית בלון וירטואלי.
        קו מקווקו מתאר בלון מדידה.
        שטח כחול הוא הגובה הצפוי המירבי לפי הבלון הוירטואלי.
        השטח הירוק הוא גובה צפוי מירבי לפי בלון מדידה.
        השטח האדום מתאר את מפל הטמפרטורה מהטמפרטורה המקסימלית החזויה לאותה שעה בגובה המדידה, ועד טמפרטורה הנמוכה ב 3 מעלות ממנה.
        השטח החום מתאר את הקרקע.
      </p>
      <h5>מושגים</h5>
      <ul>
        <li><b>T<small><b>0</b></small></b>: Grond level temperature.</li>
        <li><i class="fas fa-angle-double-up"></i> <b>TI (thermal index)</b>: Maximal theoretical flyable altitude. Based on T<small>0</small>.</li>
        <li><i class="fas fa-angle-up"></i> <b>TI-3 (thermal index - 3ºC)</b>: probable flyable altitude. Based on T<small>0</small> - 3ºC.</li>
        <li><i class="fas fa-cloud"></i> <b>Cloud base</b>: Expected cloud base.</li>
        <li><i class="fas fa-burn"></i> <b>Trigger</b>: The Ground temperature required required for good conditions.</li>
      </ul>
    </div>
  </div>
</div>

<div id="errors" v-for="error in errors" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>{{ error.title }}</strong>
  {{ error.text }}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>

</body>
</html>
