.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TimelineContainer {
  overflow-x: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {  
  justify-content: center;
  position: absolute;
  z-index: 2;
  border-radius: 4px;
  width: 100%;
  margin-top: -15px;
}

.fullscreen {
  display: none; /* Hidden by default */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 12px;
  cursor: pointer; /* Add a pointer on hover */
}

.p .rtl {
  float: right;
  direction: rtl;
}